@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.cursive {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.welcome-text {
  color: #39ff14
}

.home-name {
  font-size: 150px;
}

.skills-span{
  border-left-color: #169c2c;
  border-left-width: 8px;
}

.skills-title {
  font-weight: 700;
  font-size: 1.125rem;
  background-color: #b3ccbf;
  background: rgba(8, 153, 27, 0.5);
  padding: 4px;
}

.main-skills{
  background-color: #b3ccbf;
}

.skillsh1{
  color: #21c049;
}

.skillsh2{
  color: #1c8035
}